<mat-card>
  <mat-card-title>Registrácia nového pacienta</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="onSubmit()">
      <h4>Dovod navstevy</h4>
      <mat-form-field appearance="fill">
        <mat-label></mat-label>
        <mat-select [(ngModel)]="selectedOderType" name="type">
          <mat-option *ngFor="let type of types" [value]="type.value">
            {{ type.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          [ngxMatDatetimePicker]="picker"
          placeholder="Choose a date"
          name="selectedDate"
          [(ngModel)]="selectedDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <ngx-mat-datetime-picker
          #picker
          [showSpinners]="true"
          [showSeconds]="false"
          [stepHour]="1"
          [stepMinute]="15"
          color="accent"
          [hideTime]="false"
        >
        </ngx-mat-datetime-picker>
      </mat-form-field>

      <button mat-raised-button color="primary">Vytvorit</button>
    </form>
  </mat-card-content>
</mat-card>
