@import "../../../../../../src/variables.scss";

table {
  width: 90%;
  margin: 1% 0 0 5%;
}

button{
  background-color:$blue-dark6;
  color:$white;
  margin: 0 0 0 2%;
}

.disabled {
  background-color: lightgrey !important;
  color: #737373 !important;
  &:hover{
    cursor:not-allowed
  }
}

mat-form-field{
  padding: 1% 0 0 3%;
}
