@import "../../../../../../src/variables.scss";

:host {
    display: flex;
    justify-content: center;
    //margin: 100px 0px;
  }

  .mat-form-field {
    width: 100%;
    min-width: 300px;
  }

  mat-card-title,
  mat-card-content {
    display: flex;
    justify-content: center;
  }

  mat-card-title{
    padding-top: 10px;
    color: $blue-dark6;
 }

  mat-card{
    margin-top: 50px;
  }

  .button {
    display: flex;
    justify-content: flex-end;
  }

  button{
    background-color:$blue-dark6;
    color: whitesmoke;
  }

  .button :disabled{
    color: whitesmoke; 
    opacity: 50%;
  }
