<div class="bg">
    <h1 class=" font-weight-bold py-5 text-center">Vitajte  {{fullName}} !</h1>
    <h2 class="font-weight-bold text-uppercase text-center">O nás</h2>
    <p class="text-center">Informácie o ambulancii</p>
    <h2 class="font-weight-bold text-uppercase text-center">Ordinačné hodiny</h2>
    <table class="center text-center" style="width:50%">
        <tr style="font-size:larger;">
          <th>Deň</th>
          <th>Ordinačné hodiny</th>
          <th>Obed</th>
          <th>Ordinačné hodiny</th>
        </tr>
        <tr>
          <th>Pondelok</th>
          <td>7:00 - 12:00</td>
          <td>12:00 - 13:00</td>
          <td>13:00 - 15:30</td>
        </tr>
        <tr>
            <th>Utorok</th>
            <td>7:00 - 12:00</td>
            <td>12:00 - 13:00</td>
            <td>13:00 - 15:30</td>
          </tr>
          <tr>
            <th>Streda</th>
            <td>7:00 - 12:00</td>
            <td>12:00 - 13:00</td>
            <td>13:00 - 15:30</td>
          </tr>
          <tr>
            <th>Štvrtok</th>
            <td>7:00 - 12:00</td>
            <td>12:00 - 13:00</td>
            <td>13:00 - 14:00</td>
          </tr>
          <tr>
            <th>Piatok</th>
            <td>7:00 - 12:00</td>
            <td>-</td>
            <td>-</td>
          </tr>
      </table>
</div>

