
<!--<nav class="nav nav-pills nav-fill" *ngIf="userStatus">-->
<!--  <a class="nav-item nav-link " routerLink="/home"  routerLinkActive="active">Domov </a>-->
<!--  <a class="nav-item nav-link " routerLink="/orders"  routerLinkActive="active">Objednavky</a>-->
<!--  <a class="nav-item nav-link" routerLink="/persons"  routerLinkActive="active">Pacienti</a>-->
<!--  <li *ngIf="userStatus"><button class="logout" (click)="logout()">Logout</button></li>-->
<!--</nav>-->
<router-outlet></router-outlet>
