.content{
  //height: 100%;
  //display: flex;
  //flex: 1;
  //flex-direction: column;
  //overflow-y: auto;
}

.scrollable-page-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: auto;
  margin-bottom: 100px;
}
