<mat-form-field appearance="fill" >
  <mat-label>Dátum zobrazenia</mat-label>
  <input matInput [matDatepicker]="picker3" [value]="date.value" (dateChange)="addEvent($event)">
  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
  <mat-datepicker #picker3></mat-datepicker>
</mat-form-field>

<div *ngIf="clients.length == 0">Prazdny list</div>

<table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="date" matSortDirection="desc" *ngIf="clients.length >0"
>


  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> Meno</th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> Priezvisko</th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef > Dátum</th>
    <td mat-cell *matCellDef="let element"> {{element.date.seconds * 1000 | date: 'dd MMM., yyyy, HH:mm' }} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Typ vyšetrenia</th>
    <td mat-cell *matCellDef="let element"> {{getTypeOfVisit(element.type)}} </td>
  </ng-container>

  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> E-mail</th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-raised-button (click)="onExaminedButtonClick(element.id,true, i)" *ngIf="!element.examined">Vybaveny</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'disabled': row.examined}"></tr>
</table>
<app-spinner [visible]="isSpinnerVisible" [delay]="500"></app-spinner>

