<!-- Footer -->
<footer class="page-footer">
  <div class='row'>
    <div class='col'>
      <h4 class="font-weight-bold text-uppercase">Contact</h4>
      +421 ... ... ..., <a href="mailto:testambulanciapro@gmail.com">testambulanciapro@gmail.com</a>
    </div>
    <div class='col'>
      <h4 class="font-weight-bold text-uppercase">Address</h4>
      Košice 	040 01, Slovakia
    </div>
  </div>
</footer>
<!--     Footer Links-->
<!--    <div class="container text-center text-md-left">-->

<!--       Grid row-->
<!--      <div class="row">-->

<!--         Grid column-->
<!--        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">-->

<!--           Content-->
<!--          <h5 class="font-weight-bold text-uppercase mb-4">About</h5>-->
<!--          <p>Information about ambulance</p>-->


<!--        </div>-->

<!--        <hr class="clearfix w-100 d-md-none">-->

<!--         Grid column-->
<!--        <div class="col-md-2 col-lg-2 mx-auto">-->

<!--           Links-->
<!--          <h5 class="font-weight-bold text-uppercase mb-4">Contact</h5>-->

<!--          <ul class="list-unstyled">-->
<!--            <li>-->
<!--              <a href="mailto:testambulanciapro@gmail.com">testambulanciapro@gmail.com</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                 + 421 ... ... ...-->
<!--            </li>-->
<!--          </ul>-->

<!--        </div>-->
<!--         Grid column-->

<!--        <hr class="clearfix w-100 d-md-none">-->

<!--         Grid column-->
<!--        <div class="col-md-4 col-lg-3 mx-auto">-->

<!--           Contact details-->
<!--          <h5 class="font-weight-bold text-uppercase mb-4">Address</h5>-->

<!--          <ul class="list-unstyled">-->
<!--            <li>-->
<!--                 Košice, Slovakia-->
<!--            </li>-->
<!--          </ul>-->

<!--        </div>-->
<!--         Grid column-->

<!--        <hr class="clearfix w-100 d-md-none">-->

<!--         Grid column-->
<!--        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">-->

<!--          Možnosť pridať ďalší stĺpec-->

<!--        </div>-->
<!--         Grid column-->

<!--      </div>-->
<!--       Grid row-->

<!--    </div>-->
<!--     Footer Links-->

<!--     Copyright-->
<!--    <div class="footer-copyright text-center py-3">© 2020 Copyright:-->
<!--      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>-->
<!--    </div>-->
<!--     Copyright -->


  <!-- Footer -->
