<mat-form-field appearance="fill">
  <mat-label>Value binding</mat-label>
  <input matInput [matDatepicker]="picker3" [value]="date.value" (dateChange)="addEvent($event)">
  <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
  <mat-datepicker #picker3></mat-datepicker>
</mat-form-field>

<table mat-table #table [dataSource]="dataSource" class="mat-elevation-z8" matSort matSortActive="date"
       matSortDirection="desc">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef> firstName</th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef> lastName</th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef > date</th>
    <td mat-cell *matCellDef="let element"> {{element.date.seconds * 1000 | date: 'dd MMM., yyyy, HH:mm' }} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> type</th>
    <td mat-cell *matCellDef="let element"> {{getTypeOfVisit(element.type)}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="phone">
    <th mat-header-cell *matHeaderCellDef> Phone</th>
    <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button class="primary-lighter" (click)="onExaminedButtonClick(element.id,true)">Vybaveny</button>
<!--      <button mat-raised-button class="primary-lighter" (click)="onExaminedButtonClick(element.id,true)">Vra</button>-->
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'my-class': row.examined}"></tr>
</table>

<app-spinner [visible]="isSpinnerVisible" [delay]="500"></app-spinner>

