/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root
{
  --blue: #007bff; // or any global you wish to share with components
  --white: white;


}

.primary-lighter {
  background: var(--blue);
  color: var(--white); ;

}
