$blue-light:#007bff;
$blue-dark:#3f51b5;
$blue-dark2:#0f2392;
$blue-dark3:#142e4b;
$blue-dark4:#1a314b;
$blue-dark5:#155e88;
$blue-dark6:#13577e;
$blue-dark7:#0e3e5a;
$grey:#282828;
$grey-light:#c2c2c2;
$white:white;
$green: #509650;
